@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.author {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $layout-post-width;
  @include line-height(1);
  @include margin-top(0.5);
  @include margin-bottom(1.5);

  .photo {
    background-clip: padding-box;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    @include margin-bottom(0);
    @include margin-right(0.5);

    img {
      border-radius: 50%;
    }
  }

  p, span, strong {
    line-height: 1;
  }

  .information {
    align-items: center;
    display: flex;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }
}
