@use "sass:math";
@use "sass:color";

$color-dark: hsl(220, 17%, 17%);
$color-dark-cloud: hsl(220, 17%, 30%);
$color-dark-paper: #14171c;
$color-white: hsl(0, 0%, 100%);
$color-white-cloud: #e1e4e8;
$color-gray: hsl(220, 17%, 57%);
$color-silver: #f6f8fa;
$color-silver-light: hsl(0, 0%, 90%);
//$color-blue: hsl(220, 100%, 68%);
//$color-orange: hsl(31, 92%, 62%);
$color-blue: hsl(210, 53%, 51%);
$color-blue-light: hsl(210, 52%, 56%);
$color-red: hsl(0, 81%, 47%);

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;
$typographic-base-line-height: 1.625;
$typographic-leading: math.round(16 * math.div($typographic-root-font-size, 100) * $typographic-base-line-height);
$base-fonts: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
$typographic-font-family: "Gotham-Book", #{$base-fonts};
$header-font-family: "Butler", #{$base-fonts};

$button-height: 40px;
$button-border-radius: 20px;

$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
