@mixin font-face($variant, $font-path: "../fonts") {
  $font-file: "#{$variant}.eot";
  $font-path-variant: "#{$font-path}/#{$variant}";

  @font-face {
    font-display: swap;
    font-family: "#{$variant}";
    font-style: normal;
    font-weight: normal;
    src: local("#{$variant}"),
    url("#{$font-path-variant}/#{$font-file}?#iefix") format("embedded-opentype"),
    url("#{$font-path-variant}/#{$variant}.woff2") format("woff2"),
    url("#{$font-path-variant}/#{$variant}.woff") format("woff"),
    url("#{$font-path-variant}/#{$variant}.ttf") format("truetype"),
    url("#{$font-path-variant}/#{$variant}.svg##{$variant}") format("svg");
  }
}
