@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.tags {
  @include margin-bottom(0.5);

  .list {
    list-style: none;
    @include padding-equal(0);
    @include margin-top(0);

    .item {
      display: inline-block;
      @include margin(0.25, 0);
      @include padding(0, 0.25, 0, 0);

      @include breakpoint-sm {
        &:first-child {
          @include margin-left(0);
          @include padding-left(0);
        }
      }

      .button {
        align-items: center;
        background-color: var(--color-tag-silver);
        border: none;
        border-radius: 20px;
        color: $color-dark-paper;
        display: flex;
        font-size: 12px;
        height: 26px;
        line-height: 0;
        text-decoration: none;
        transition: background .1s ease;
        @include padding(0, 0.5);

        &:hover {
          background-color: var(--color-tag-silver-hover);
        }
      }
    }
  }
}
