@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.newsletter {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;

    @include breakpoint-sm {
      flex-direction: row;
    }

    .container {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      @include breakpoint-sm {
        max-width: 333px;
        width: 100%;
      }

      .error {
        bottom: 0;
        color: $color-red;
        font-size: 12px;
        font-weight: bold;
        position: absolute;

        @include breakpoint-sm {
          bottom: -25px;
        }
      }
    }

    .button {
      line-height: 1;
      min-height: 50px;
    }

    .input {
      background-color: var(--color-tag-silver);
      border: 1px solid var(--color-input-border);
      color: var(--color-typographic-base-font);
      height: 30px;
      margin-bottom: 25px;
      padding: 10px 15px;

      @include breakpoint-sm {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }
  }
}
