@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.meta {
  color: $color-gray;
  display: flex;
  font-size: $typographic-small-font-size;
  font-weight: 600;

  p {
    margin: 0;
  }

  span {
    margin: 0 6px;
  }
}
