@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  .content {
    @include margin-auto();
  }

  .footer {
    max-width: $layout-post-width;
    @include padding(0, 0);
    @include margin(0, 0);
  }

  .comments {
    max-width: $layout-post-width;
    padding: 0!important;
    @include margin-auto();
  }
}

@include breakpoint-md {
  .post {
    .footer {
      @include padding-equal(0);
    }
  }
}
